.container__cart{
    margin-top: 10px;
    padding:10px;
    .ico__cart{
        font-size:30px!important;
        vertical-align:middle;
        display:inline-block;
        margin-right:10px;
        color:#ffffff;
    }
    .count__cart{
        background:#ff3c00 ;
        color:#ffffff;
        border-radius:50%;
        text-align:center;
        line-height:20px;
        position: relative;
        top:-4px;
        padding: 2px;
    }
}