.header{
    background-color: rgb(0, 106, 114);
    color: white;
    height:fit-content;
    display: flex;
    align-items: center;
    .header__container{
        width: 90%;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
       .cont__logo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            margin-left: 10px;
            width: 10%;
            font-size: 1rem;
            margin-right: 30px;
            .logo{
                width: 3rem;
            }
       }
       .cartWidget{
           width: 3rem; 
       }
        .navbar{
            width: 90%;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 30px; 
            .link__nav{
                text-decoration: none;
                color: white;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                &:hover{
                    border-bottom: solid thin #fff !important;
                }
            }
        } 
    }
}