.card{
    width: 18rem;
}
.card-title{
    font-size:20px !important ;
    font-weight: 700;
    margin-bottom : .5em!important;;
    text-align: center;

}
.card-body{
    padding:.3em  4%   6%;
    background:#f9fbff; 
    border-radius: 10px;
    
}