.itemDetail{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    background-color: white;
    margin-top: 20px;
    .contenedor__imagenes{
        width: 40%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        .ImagenPrincipal{
            min-width: 20rem;
            cursor: pointer !important;
            
        }
        .selectImagen{
            justify-content: center;
        }
    }
    .contenedor__detalle{
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        flex-wrap: wrap;

        .titulo{
            font-size: xx-large;
            flex-direction:row;
            color: black;
        }
        .agregarCarrito{
            width: fit-content;
            padding:15px;
            border-radius:30px;
            background-color: blue;
            color:#fff;
            text-align:center;
            cursor:pointer;
            transition:.3s ease all;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .table{
        width:80%;
        align-self:center;
        table, th , td{
            border : solid #ccc ;
            border-width: thin;
            text-align: left;
            }
            .Titulo{
                font-weight: bold;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-align: center;
            }
            .Detalle{
                min-height: 50px;
                height:fit-content !important;
                .DetalleTitulo{
                    font-weight: bold;
                    text-align: center;
                    align-content: center;
                    padding: 1rem;
                }
                .DetalleTexto{
                    text-align: justify;
                    padding: 1rem;
                    
                }
            }
    }
    .columna{
        width: 100%;
        height: fit-content;
    }
}