*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200 ;
    word-wrap: break-word !important;
    word-break: break-word !important;
}
.CartProvider{
    height: 100%;
}
.BrowserRouter{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Footer{
    position: relative;
    bottom : 0px;
    margin-top: auto;
    width: 100%;
    background-color: blueviolet !important;
}
